body{
    margin: 0;
    font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
    font-style: normal;
}

ul li {
    list-style: none;
}

.nav__uptag{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0px;
    font-size: 13px;
    font-weight: 600;
}

.nav__uptag i {
    margin-right: 5px;
}

.nav__uptag div:hover {
    text-decoration: underline;
}

.nav__downtag{
    display: flex;
    color: #767677;
    padding: 3px 30px;
    height: 10vh;
}

.nav__cont{
    width: 100%;
    
}
.nav__up{
    display: flex;
    font-size: 13px;
}

.nav__up ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0
   
}

.nav__logo{
    display:flex;
    align-items: center;   
}

.nav__logo img{
    height: 80%;
}

.nav__up li{
    display: flex;
    align-items: flex-start;
}

.nav__men strong{
    margin-left: 80px;
}
.nav__black{
    color: black;
}
.nav__up img{
    margin-left: 3px;
    height: 70%;
}

.nav__search{
    display: flex;
    justify-content: space-between;
    width: 13vw;
    background-color:#ebedee;
    padding: 8px;
}

.nav__side i{
    color: black;
    padding: 0px 15px;
}



.nav__down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__down ul{
    display: flex;
    justify-content: space-between;
}

.nav__downtag li{
    margin: 3px 20px 0 0;
}

.nav__side {
    display: flex;
    align-items: center;
}

.title{
    text-align: center;
}

.title__font{
    font-family: "AdineuePRO",Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 24px;
    margin-top: 10px;
}

.menu{
    display: flex;
    justify-content: center;
    
}

.menu ul{
    display: flex;
    justify-content: space-between;
    background-color: #ebedee;
    width: 1000px;
}

.menu li{
    padding: 18px 10px; 
}

.menu__last{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-left: solid 1px #767677;
    margin-right: 10px;
    width: 150px;
}

.menu__last div{
    padding-left: 15px;
}

.banner {
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner__inner {
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    left: 100px;
    top: 0px
    
}

.banner__ctn {
    width: 25vw;
    padding: 40px 15px 60px;
}

.banner__ctn h1{
    font-size: 36px;
}

.intro{
    display: flex;
    justify-content: center;
}

.intro__inner{
    display: flex;
    justify-content: center;
    max-width: 1250px;
}

.intro__left, .intro__right{
    margin: 0.5rem;
    height: 100%;
}
.intro__img{
    width: 100%;
    height: 70%;
    padding: 1.2rem 0;
    
}

.intro__innerbtn{
    display: inline-block;
    background-color: white;
    color: black;
    border: 0.5px solid black;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
}

.intro__innerbtn:hover{
    color: #767677
}

.intro__innerbtn i{
    font-size: 1.2rem;
    margin-left: 10px;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 60px
}

.form__inner{
    display: flex;
    width: 70vw;
    border: 1px solid #ebedee;
    padding: 20px 30px;
}

.form__desc, .form__right{
    width: 100%;
}

.form__right{
    display:flex;
    align-items: center;
}

.form__input{
    width: 100%;
    padding: 15px;
    border: 0.3px solid black;
    color: #767677;
}

.form__star{
    margin-left: 5px;
    color: red;
}

.photo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.photo__inner{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.photo img{
    width: 95%;
    margin-bottom: 35px;
    height: 85%;
}

.photo__innerbtn{
    display: inline-block;
    background-color: white;
    color: black;
    border: 0.5px solid black;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 400;
}

.photo__innerbtn:hover{
    color: #767677
}

.photo__innerbtn i{
    font-size: 1.2rem;
    margin-left: 10px;
}

.social{
    margin-top: 60px;
}

.social__title{
    text-align: center;
}

.social__buttons {
    display: flex;
    justify-content: center;
}
.social__buttons img{
    margin: 15px;
}

footer{
    margin-top: 60px;
}

.ad{
    display: flex;
    justify-content: center;
    background-color: #ede734;
}

.ad__inner {
    display: flex;
    width: 1000px;
    padding: 20px 0px 40px 0px;
}

.ad__left{
    width: 100%;
    padding-left: 30px;
    margin-left: 50px;
}

.ad__outerbtn{
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 70px;
}

.ad__innerbtn{
    background-color: black;
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
}

.ad__innerbtn:hover{
    color: gainsboro;
}

.ad__innerbtn i{
    margin-left: 10px;
}


.category {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 30px; 
    margin-bottom: 60px;
}

.category__inner {
    display: flex;
    justify-content: center;
    width: 1100px;
}

.category__inner ul {
    margin-right: 50px;
}

.category__inner li {
    line-height: 23px;
}

.category__inner li h5{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}

.category__inner li:hover {
    text-decoration: underline;
}

.info{
    display: flex;
    justify-content: center;
    color: rgba(255,255,255,.6);
    background-color: #363738;
    font-size: 12px;
    padding: 5px;
}

.info__inner{
    display: flex;
    justify-content: space-around;
    width: 900px;
}

.info__left{
    display: flex;
    align-items: center;
    font-size: 10px;
}

.info__left img{
    margin-right: 8px;
}

.info__inner ul{
    display: flex;
}

.info__inner li{
    margin-right: 18px;
}
