body{
    margin: 0;
    font-family: "AdineuePRO",Helvetica, Arial, sans-serif;
}

ul li {
    list-style: none;
}


.nav__uptag{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0px;
    font-size: 13px;
    font-weight: 600;
}

.nav__uptag i {
    margin-right: 5px;
}

.nav__uptag div:hover {
    text-decoration: underline;
}

.nav__downtag{

}


.title{
    text-align: center;
}

.title__font{
    font-family: "AdineuePRO",Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 24px;
    margin-top: 10px;
}

.social__title{
    text-align: center;
}

.social__buttons {
    display: flex;
    justify-content: center;
}
.social__buttons img{
    margin: 15px;
}

.ad{
    display: flex;
    justify-content: center;
    background-color: #ede734;
}

.ad__inner {
    display: flex;
    width: 1000px;
    padding: 20px 0px 40px 0px;
}

.ad__left{
    width: 100%;
    padding-left: 30px;
    margin-left: 50px;
}

.ad__outerbtn{
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 70px;
}

.ad__innerbtn{
    background-color: black;
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
}

.ad__innerbtn:hover{
    color: gainsboro;
}

.ad__innerbtn i{
    margin-left: 10px;
}


.category {
    display: flex;
    justify-content: center;
    font-size: 13px;   
}

.category__inner {
    display: flex;
    justify-content: center;
    width: 1100px;
}

.category__inner ul {
    margin-right: 50px;
}

.category__inner li {
    line-height: 23px;
}

.category__inner li h5{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}

.category__inner li:hover {
    text-decoration: underline;
}

.info{
    display: flex;
    justify-content: center;
    color: rgba(255,255,255,.6);
    background-color: #363738;
    font-size: 12px;
    padding: 5px;
}

.info__inner{
    display: flex;
    justify-content: space-around;
    width: 900px;
}

.info__left{
    display: flex;
    align-items: center;
    font-size: 10px;
}

.info__left img{
    margin-right: 8px;
}

.info__inner ul{
    display: flex;
}

.info__inner li{
    margin-right: 18px;
}
